body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: #E5E5E5;
}

.cabecalho ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    text-align: center;   
}

.container{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
}

aside ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li{
    margin-bottom: 0.5rem;
    
}

aside ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 1rem;
}

#sobreMim, #habilidades, #contato, #projetos{
    width: 60%;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    box-shadow: 0 0 0.5rem #000000;
}

.menu ul li a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;

}

#sobreMim{
    grid-template-columns: 2fr 8fr;
    
}

#sobreMim > h2, #habilidades > h2, #contato > h2, #projetos > h2{
    grid-column: 1/-1;
    text-align: center;
}

#sobreMim img{
    width: 100%;
}

.informacoes p{
    margin-top: 0;
    margin-bottom: 0.2rem;
    padding: 0;
}

footer{
    background-color: #FFFFFF;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}

#habilidades{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

}

#habilidades > ul {
    list-style: none;
    font-weight: bold;
    font-size: larger;
    padding: 0;
}



#habilidades ul > li > ul{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
}

#html, #css, #js, #php, #java, #mysql, #bootstrap, #jquery, #android{
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}   

#html::before, #css::before, #js::before, #php::before, #java::before, #mysql::before, #bootstrap::before, #jquery::before, #android::before{
    content: "";
    display: inline-block;
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 0.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
}

#html::before{
    background-image: url(icon/icons8-html5-96.png);
}

#css::before{
    background-image: url(icon/icons8-css3-96.png);
}

#js::before{
    background-image: url(icon/icons8-javascript-96.png);
}

#php::before{
    background-image: url(icon/icons8-php-96.png);
    height: 4em;
}

#java::before{
    background-image: url(icon/icons8-java-96.png);
}

#mysql::before{
    background-image: url(icon/icons8-mysql-96.png);
}

#bootstrap::before{
    background-image: url(icon/icons8-bootstrap-96.png);
}

#jquery::before{
    background-image: url(icon/icons8-jquery-96.svg);
    width: 10rem;
}

#android::before{
    background-image: url(icon/icons8-android-96.png);
    text-align: center;
}

#contato p{
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 0.5rem;
    margin: 0;
}

#contato p a{
    text-decoration: none;
    padding: 0;
    color: #000000;
}

#telefone::before, #email::before, #github::before, #linkedin::before{
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
}

#telefone::before{
    background-image: url(icon/whatsapp.png);
}

#email::before{
    background-image: url(icon/email.png);
}

#github::before{
    background-image: url(icon/github.png);
}

#linkedin::before{
    background-image: url(icon/linkedin.png);
}
